@model CarTypeDto

<form action="" method="post" id="moviecreate">
    <div class="input">
        <label for="moviename">Araba Tipi :</label>
        <input type="text" asp-for="CarTypes" placeholder="Araba Tipi">
    </div>
    <input type="submit" value="Kaydet" class="frombtn">
</form>
