@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&family=Roboto:wght@500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    direction: ltr;
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background-color: #e6e6e6;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
}

#tumsayfaalani {
    position: relative;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: none;
    outline: none;
    background-color: #e6e6e6;
}

.menucontainer{
    position: relative;
    display: block;
    width: 250px;
    height: 100%;
    overflow: hidden;
}

.menu {
    position: fixed;
    display: block;
    width: 250px;
    height: 100%;
    overflow: hidden;
    background-color: #212121;
    -webkit-box-shadow: 15px 8px 18px -8px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 15px 8px 18px -8px rgba(0, 0, 0, 0.53);
    box-shadow: 15px 8px 18px -8px rgba(0, 0, 0, 0.53);
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    top: 0;
    left: 0;
    bottom: 0;
}

.menulogoarea i {
    margin-right: 10px;
    color: #0069ff;
    font-size: 25px;
}

.menulogoarea .logotext {
    color: #fff;
    font-size: 25px;
}

.menu .menuarea {
    text-align: left;
}

.menu .menuarea small {
    color: #9bacb4;
    user-select: none;
    transition: all 200ms ease;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
}

.menu .menuarea .topmenu li {
    margin-top: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 0 15px 0 15px;
    transition: all 200ms ease;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    border: thin solid #212121;
}

.menu .menuarea .topmenu li a,
.menu .menuarea .topmenu li .submenutitle {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 35px;
    text-align: left;
    white-space: nowrap;
    transition: all 200ms ease;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
}

.menu .menuarea .topmenu li i {
    color: rgba(255, 255, 255, 0.6);
    margin-right: 15px;
}

.menu .menuarea .topmenu li .submenutitle {
    cursor: pointer;
    user-select: none;
}

.menu .menuarea .topmenu li .submenutitle span {
    color: rgba(255, 255, 255, 0.8);
    transition: all 200ms ease;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
}

.menu .menuarea .topmenu li .submenutitle .menuopen {
    font-size: 10px;
}

.menu .menuarea .topmenu li a {
    color: rgba(255, 255, 255, 0.8);
}

.menu .menuarea .topmenu>li:hover {
    border: thin solid #b1b1b1;
    background-color: #121316;
    box-shadow: 3px -1px 30px -13px rgba(177, 177, 177, 0.75);
    -webkit-box-shadow: 3px -1px 30px -13px rgba(177, 177, 177, 0.75);
    -moz-box-shadow: 3px -1px 30px -13px rgba(177, 177, 177, 0.75);
}

.menu .menuarea .topmenu .submenu {
    font-size: 15px;
    padding: 0 0 15px 0;
    display: none;
}

.menu .menuarea .topmenu .submenu li,
.menu .menuarea .topmenu .submenu li a {
    border: none;
}

.menu .menuarea .topmenu .submenu li a {
    border: thin solid #212121;
    padding: 0 10px 0 10px;
    border-radius: 5px;
    transition: all 200ms ease;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.menu .menuarea .topmenu .submenu li a:hover {
    border: thin solid #b1b1b1;
}

/*container*/
.container {
    position: relative;
    display: block;
    width: calc(100% - 250px);
    height: auto;
    overflow: auto;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

.section i {
    color: rgba(0, 0, 0, 0.53);
    font-size: 20px;
    cursor: pointer;
    line-height: 30px;
}

/*container*/

/*menu 80px*/
.menu.shrink span {
    display: none;
}

.menu.shrink .menuarea .topmenu li i {
    margin-right: 0;
}

.menu.shrink small {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
}


.menu.shrink .menuarea .submenu li{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    text-align: center;
    margin: 0;
}

.menu.shrink .menuarea .topmenu .submenu li a{
    padding: 0;
    margin-top: 15px;
}

.menu.shrink .menuarea .topmenu .submenu li a i{
   margin: 0 auto;
}

.menu.shrink .menuarea .topmenu li{
    padding: 0 5px;
}
/*menu 80px*/

main .ck.ck-content {
	font-size: 1em;
	line-height: 1.6em;
	margin-bottom: 0.8em;
	min-height: 200px;
	padding: 1.5em 2em;
}

/* Image Preview*/
.imagepreview{
    border: thin solid rgb(190, 188, 188);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    height: 70px !important;;
    cursor: pointer;
    margin-right: 20px;
}

.imagepreview i{
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    font-size: 25px;
    color : rgb(63, 97, 129);
    cursor: pointer;
}

.imagepreview:hover{
    background-color: #9bacb4;
}
/* Image Preview*/

/*Table*/

table{
    min-width: 1000px !important;
    width: calc(100% - 20px);
    border-collapse: separate;
    border-spacing: 0 10px;
}

.table tbody tr {
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.7);
}

.table tbody tr td{
    height: 50px;
    overflow: hidden;
    padding: 5px;
}

.table tbody tr td img{
    width: 50px;
    height: 50px;
}

.table .thead-dark th {
    color: #fff;
    background-color: #343a40;
    border-color: #454d55;
}

.table thead th {
    border: none;
    padding: 20px;
    font-size: 14px;
    color: #fff;
}

.subtablelink{
    position: relative;
    display: block;
    float: left;
    padding: 5px 10px 5px 10px;
    background: rgb(17, 72, 124);
    color: #e6e6e6;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-right: 15px;
    margin-bottom: 20px;
}

.subtablelink:hover{
    color : #fff;
}
/*Table*/